/* font imported from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
.my-container{
    margin-bottom: 160px;
}
/* header seciton customization */
header{
    background: #264653;
    width: 100%;
}
/* navbar customization */
.item-list{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.nav-btn,
.modal-btn,
.card-btn{
    background: #E76F51;
}
.nav-btn:hover {
    background: #e76f51ce;
}
/* main part of the webpage */
main{
    color: black;
}
/* latest bike customization */
.header-title,
.features-title,
.latest-news,
.client-title{
    font-size: 48px;
    font-weight: 600;
}
/* latest features customization */
.feature-description{
    color: #E76F51;
    margin-bottom: 0;
    font-weight: 600;
}
.center-hr-line{
    opacity: 1;
    width: 60px;
    margin: auto;
    margin-bottom: 120px;
    background-color: #E76F51;
    border: 1px solid #E76F51;
}
.filtered{
    filter: grayscale(100%);
}
.featured-bikes img{
    width: 100%;
}
/* latest news customization */
.new-card{
    font-size: 28px;
    font-weight: 600;
}
.card-btn-outline{
    border: 1px solid #E76F51;
    color: #E76F51;
}
.card-btn-outline:hover{
    background-color: #E76F51;
    outline: none;
    color: white;
}
/* client section customization */
.client-span{
    color: #E76F51;
}


/* media query for medium devices */
@media only screen and (min-width: 577px) and (max-width: 991px) {
    .my-container{
    margin-bottom: 120px;
    }
    .header-title,
    .features-title,
    .latest-news,
    .client-title{
        font-size: 32px;
    }
    .center-hr-line{
        margin-bottom: 60px;
    }
}
/* media query for small devices */
@media only screen and (max-width: 576px) {
    .my-container{
    margin-bottom: 80px;
    }
    .header-title,
    .features-title,
    .latest-news,
    .client-title{
        font-size: 32px;
    }
    .center-hr-line{
        margin-bottom: 60px;
    }
}