/* font imported from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
/* header seciton customization */
header{
    background: #264653;
    width: 100%;
}
/* navbar customization */
.item-list{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.nav-btn{
    background: #E76F51;
}
.nav-btn:hover {
    background: #e76f51ce;
}