/* font imported from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
/* header seciton customization */
header{
    background: #264653;
    width: 100%;
}
/* navbar customization */
.item-list{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.nav-btn,
.modal-btn{
    background: #E76F51;
}
.nav-btn:hover {
    background: #e76f51ce;
}
/* latest bike section */
.header-title{
    font-size: 48px;
    font-weight: 600;
}
/* media query for small devices */
@media only screen and (max-width: 576px) {
    .header-title{
        font-size: 32px;
    }
}